<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'sapApp/students.css' %}">
        <title>List of Students</title>
    </head>
    <body>
        <div class="webpage">
            <div class="header">
                <div class="header-bar1">
                    <div class="item-container">
                        <div class="bar-photo">
                            <a href="/sapApp/dashboard/"><img src = "{% static 'sapApp/Images/saplogo.png' %}" width=65 height=32></a>
                        </div>
                        <div class="bar-item-container">
                        <div class="bar-item">
                            <a href="/sapApp/students/"><span class="item">STUDENTS</span></a>
                        </div>
                            </div>
                        <div class="bar-item-container">
                        <div class="bar-item">
                            <a href="/sapApp/grades/"><span class="item">GRADES</span></a>
                        </div>
                        </div>
                        <div class="bar-item-container">
                        <div class="bar-item">
                            <a href="/sapApp/reports/"><span class="item">REPORTS</span></a>
                        </div>
                    </div>
                        
                    </div>
                    <div class="item-container3">
                        <div class="bar-item2">
                            <span class="greetings">Hi, Lyn Reyes!</span>
                        </div>
                        <div class="bar-photo">
                            <img src = "{% static 'sapApp/Images/usericon.png' %}" width=32 height=28>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header2">
                <div class="header2-bar2">
                    <div class="item-container2">
                    <div class="bar-title">
                        <span class ="bigtext">MY STUDENTS</span>
                    </div>
                    <div class="search-container">
                        <input type="text" class="search" placeholder="Search">
                    </div>
                    </div>
                </div>
            </div>

            
            <div class="middle">
                <div id="sortcontainer">
                    <form action="{% url 'sapApp:sortIt' %}" method = "post">
                        {% csrf_token %}
                    <span class ="sorttext">Sort By: </span>
                        <select name="sortby" class="textbox2">  
                            <option value="3">Group</option> 
                            <option value="4">Territory</option>
                            <option value="5">Country</option>
                        </select>
                        <button type="submit" class="item">REFRESH</button>
                    </form>
                </div>
                <div style="overflow-y:auto;">
                <div class="table-container">
                    <div class="top-color">.</div>
                    <div class="innercontainer">
                    <table>
                        <tr>
                            <th><div class="bigger">NAME</div></th>
                            <th><div class="bigger">GROUP #</div></th>
                            <th><div class="bigger">TERRITORY</div></th>
                            <th><div class="bigger">COUNTRY</div></th>
                        </tr>
                        {% for student in student_list %}
                        <tr>
                            <td><a href="{% url 'sapApp:students2' student.sap_id %}">{{student.last_name}}, {{student.first_name}}</a></td>
                            <td>{{student.group_number}}</td>
                            <td>{{student.territory}}</td>
                            <td>{{student.country}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    </div>
                </div>
                </div>
                
            </div>
        </div>
    </body>
</html>